@import "../../scss/variables";

.notification {
    position: relative;
    max-width: 312px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    animation: showAnimation 0.4s linear forwards;
    overflow: hidden;
    cursor: pointer;

    &__body {
        flex: 1 1 auto;
        margin: auto 0;
        padding: 6px;
    }
    &__close {
        align-self: flex-start;
        background: none;
        border: none;
        font-size: 26px;
    }
    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
    }
    &--error {
        background-color: #e74c3c;
        color: white;
        .notification__close {
            color: white;
        }
        .notification__line {
            background-color: white;
        }
    }
    &--success {
        background-color: #07bc0c;
        color: white;
        .notification__close {
            color: white;
        }
        .notification__line {
            background-color: white;
        }
    }
    &--info {
        background-color: #f1c40f;
        .notification__close {
            color: black;
        }
        .notification__line {
            background-color: black;
        }
    }
    &--default {
        background-color: white;
        .notification__close {
            color: black;
        }
        .notification__line {
            background-color: black;
        }
    }
    &--closing {
        animation: closeAnimation 0.6s linear forwards;
    }
}

@keyframes showAnimation {
    0% {
        transform: translateX(200%);
    }
    70% {
        transform: translateX(-5%);
    }
    90% {
        transform: translateX(5%);
    }
    95% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closeAnimation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(200%);
    }
}