$placeholder_gray: #656967;
$text_black: #10100f;
$text_light_gray: #bdbdbd;
$link_blue: #6d6bd2;
$input_background_black: #f3f3f3;
$button_background_yellow: #f0c72e;
$primary_background: #dbe0f5;
$secondary_background: #686bcc;